extends layout

block content
    script(src='https://api-maps.yandex.ru/2.1/?apikey=476c9d8b-17b3-4853-9bd8-9e6c8c74528f&lang=ru_RU' type="text/javascript" defer)
    script(src='/js/impact.js', defer)

    div#plot
    div#plot-controls
        div.header
            div.elem-vertical-align
            span Поездки
        div.list
            - for(var i = 0; i < drives.length; i++) {
                div.elem(drive-id=drives[i].id onclick='changeActiveDrive("'+drives[i].id+'")')
                    span.drive-id-text #{drives[i].id}
            - }