doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        
        block css
            link(rel='stylesheet', href='/css/style.css')
        block js
            script(src='/components/socketIO/socket.io.slim.js', defer)
            script(src='/components/jquery/jquery.min.js', defer)
            //script(src='/components/plotly/plotly.min.js', defer)
            script(src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8")
            script(src='/js/socketClientPort.js', defer)
    body
        block content
