extends layout

block content
    script(src='/js/learning.js', defer)
    div#learning
        select#driveid-select
            - for(var i = 0; i < roads.length; i++) {
                option(value=roads[i].id) #{roads[i].id}
            - }
        div.road

        div.dialog(selected-event-id='')
            div.fakeelem
            div.dialog-wrapper
                div.dialog-info
                    span.caption name:
                    span.data.pit-name none
                    span.caption id:
                    span.data.pit-id none
                
                div.dialog-classify-buttons
                    div.button(onclick='classifyButtonClick("very_small")')
                        div.fakeelem
                        span.button-text Very Small
                    br
                    div.button(onclick='classifyButtonClick("small")')
                        div.fakeelem
                        span.button-text Small
                    br
                    div.button(onclick='classifyButtonClick("medium")')
                        div.fakeelem
                        span.button-text Medium
                    br
                    div.button(onclick='classifyButtonClick("big")')
                        div.fakeelem
                        span.button-text Big
                    br
                    div.button(onclick='classifyButtonClick("very_big")')
                        div.fakeelem
                        span.button-text Very Big