extends layout

block content
    script(src='https://api-maps.yandex.ru/2.1/?apikey=476c9d8b-17b3-4853-9bd8-9e6c8c74528f&lang=ru_RU' type="text/javascript" defer)
    script(src='/js/qualityManager.js', defer)
    //- script(src='/js/qualityManager.js', defer)
    div#map.map
    div#controlls.controlls.quality-map
        div.qbutton(onclick='changeQualityMapType("tracks")')
            span трэки
        div.qbutton(onclick='changeQualityMapType("spheres")')
            span сферы

        