extends layout

block content
    script(src='https://api-maps.yandex.ru/2.1/?apikey=476c9d8b-17b3-4853-9bd8-9e6c8c74528f&lang=ru_RU' type="text/javascript" defer)
    script(src='/js/pitManager.js', defer)
    //- script(src='/js/pitManager.js', defer)
    div#map.map
    div#controlls.controlls
        div.header
            div.elem-vertical-align
            span Поездки
        div.list
            -for(var i = 0; i < roads.length; i++) {
            div.elem(id= (roads[i].id + ""), onclick='onView("' + roads[i].id + '")' )
                div.vertical-align-middle
                div.line(style={'background': roads[i].color})
                div.desc 
                    -var title = roads[i].id; if (title === undefined) {title = 'общий';}
                    span #{title}
            -}