body {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}
body div.elem-vertical-align {
  vertical-align: middle;
  display: inline-block;
  width: 0px;
  font-size: 0px;
  opacity: 0;
}
body div#map {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}
body div#controlls {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 120px;
  height: 200px;
  z-index: 2;
  background: #f2f2f2;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4);
}
body div#controlls div.header {
  width: 100%;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
  height: 24px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body div#controlls div.header span {
  margin-top: 1px;
  font-size: 16px;
  display: inline-block;
}
body div#controlls div.list {
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 2px;
  height: calc(100% - 36px);
}
body div#controlls div.list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
body div#controlls div.list::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}
body div#controlls div.list::-webkit-scrollbar-thumb {
  background-color: #000000;
}
body div#controlls div.list div.elem {
  width: 100%;
  height: 24px;
  cursor: pointer;
}
body div#controlls div.list div.elem:hover {
  background: #fafafa;
  box-shadow: 0px 0px 1px 0.5px rgba(0, 0, 0, 0.5) inset;
}
body div#controlls div.list div.elem.unselected {
  opacity: 0.3;
}
body div#controlls div.list div.elem div.line {
  margin-left: 10px;
  width: 10px;
  height: 2px;
  vertical-align: middle;
  display: inline-block;
  font-size: 0px;
}
body div#controlls div.list div.elem div.desc {
  width: calc(100% - 40px);
  margin-left: 10px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
}
body div#controlls div.list div.elem div.desc span {
  font-size: 14px;
  color: #000000;
}
body div#controlls.quality-map {
  height: 32px;
}
body div#controlls.quality-map .qbutton {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 1px);
  cursor: pointer;
  height: 32px;
  border-right: 1px solid #b7b3b3;
}
body div#controlls.quality-map .qbutton span {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  text-align: center;
  margin-top: 5px;
}
body div#controlls.quality-map .qbutton:hover {
  background: #bababa;
}
body div#controlls.quality-map .qbutton:last-child {
  border: none;
  width: 50%;
}
body div#learning {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  margin: 0px;
  padding: 50px;
  padding-top: 13px;
  position: relative;
}
body div#learning select#driveid-select {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 22px;
  margin-bottom: 15px;
}
body div#learning .road {
  display: inline-block;
  vertical-align: top;
  width: 35%;
  height: calc(100% - 2px);
  border-top: 2px solid black;
  background: #cacaca;
  text-align: center;
  overflow: hidden;
}
body div#learning .road .event {
  display: inline-block;
  vertical-align: top;
  width: 0px;
  height: 0px;
  border: 1px solid black;
  border-radius: 180px;
  margin-bottom: 10px;
  background: transparent;
  cursor: pointer;
  position: relative;
  transition: 0.25s;
}
body div#learning .road .event span.pit-name {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: normal;
  font-size: 12px;
  color: black;
}
body div#learning .road .event span.pit-kk {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 50%;
  left: calc(100% + 10px);
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 11px;
  color: black;
}
body div#learning .road .event.selected {
  background: #00e6ff !important;
}
body div#learning .road .event:first-child {
  margin-top: 10px;
}
body div#learning .dialog {
  display: inline-block;
  vertical-align: top;
  width: calc(65% - 100px);
  height: calc(100% - 100px);
  background: white;
  padding: 50px;
  text-align: center;
}
body div#learning .dialog .dialog-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  height: auto;
}
body div#learning .dialog .dialog-wrapper .dialog-info {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: auto;
  text-align: left;
}
body div#learning .dialog .dialog-wrapper .dialog-info span.caption {
  display: inline-block;
  vertical-align: top;
  width: 60px;
  font-size: 14px;
  color: black;
  font-weight: bold;
}
body div#learning .dialog .dialog-wrapper .dialog-info span.data {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 60px);
  font-size: 12px;
  color: black;
  font-weight: normal;
  margin-top: 1px;
}
body div#learning .dialog .dialog-wrapper .dialog-classify-buttons {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: auto;
  margin-top: 25px;
}
body div#learning .dialog .dialog-wrapper .dialog-classify-buttons .button {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 2px);
  height: 32px;
  cursor: pointer;
  border: 1px solid grey;
  text-align: center;
  background: #e0e0e0;
  margin-top: 10px;
}
body div#learning .dialog .dialog-wrapper .dialog-classify-buttons .button span.button-text {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  color: black;
  font-size: 16px;
  font-weight: bold;
}
body div#learning .dialog .dialog-wrapper .dialog-classify-buttons .button:hover {
  background: #f0f0f0;
}
body div#learning .dialog .dialog-wrapper .dialog-classify-buttons .button:active {
  background: #84ff84;
}
body #plot {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}
body #plot-controls {
  position: absolute;
  left: 105px;
  top: 15px;
  width: 120px;
  height: 200px;
  z-index: 2;
  background: #f2f2f2;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4);
}
body #plot-controls div.header {
  width: 100%;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
  height: 24px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body #plot-controls div.header span {
  margin-top: 1px;
  font-size: 16px;
  display: inline-block;
}
body #plot-controls .list {
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 2px;
  height: calc(100% - 36px);
}
body #plot-controls .list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
body #plot-controls .list::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}
body #plot-controls .list::-webkit-scrollbar-thumb {
  background-color: #000000;
}
body #plot-controls .list .elem {
  width: 100%;
  height: 24px;
  cursor: pointer;
  opacity: 0.3;
}
body #plot-controls .list .elem:hover {
  background: #fafafa;
  box-shadow: 0px 0px 1px 0.5px rgba(0, 0, 0, 0.5) inset;
}
body #plot-controls .list .elem span.drive-id-text {
  width: calc(100% - 10px);
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: black;
}
body #plot-controls .list .elem.selected {
  opacity: 1;
}
.fakeelem {
  display: inline-block;
  vertical-align: middle;
  width: 0%;
  height: 100%;
}
