body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;

    div.elem-vertical-align{
        vertical-align: middle;
        display: inline-block;
        width: 0px;
        font-size: 0px;
        opacity: 0;
    }
    
    div#map {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        position: relative;
    }

    div#controlls {
        position: absolute;
        left: 15px;
        top: 15px;
        width: 120px;
        height: 200px;
        z-index: 2;
        background: #f2f2f2;
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.4);
        div.header {
            width: 100%;
            box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
            height: 24px;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            span {
                margin-top: 1px;
                font-size: 16px;
                display: inline-block;
            }
        }
        div.list{
            margin-top: 10px;
            overflow-y: auto;
            overflow-x: hidden;
            margin-bottom: 2px;
            height: calc(~'100% - 36px');

            &::-webkit-scrollbar-track
            {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                background-color: #F5F5F5;
            }

            &::-webkit-scrollbar
            {
                width: 6px;
                background-color: #F5F5F5;
            }

            &::-webkit-scrollbar-thumb
            {
                background-color: #000000;
            }
            div.elem {
                width: 100%;
                height: 24px;
                cursor: pointer;
                &:hover{
                    background: #fafafa;
                    box-shadow: 0px 0px 1px 0.5px rgba(0,0,0,0.5) inset;
                }

                &.unselected {
                    opacity: 0.3;
                }

                div.line {
                    margin-left: 10px;
                    width: 10px;
                    height: 2px;
                    vertical-align: middle;
                    display: inline-block;
                    font-size: 0px;
                }

                div.desc {
                    width: calc(~"100% - 40px");
                    margin-left: 10px;
                    overflow: hidden;
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 0px;
                    span {
                        font-size: 14px;
                        color: #000000;
                    }
                }
            }
        }

        &.quality-map {
            height: 32px;
            
            .qbutton {
                display: inline-block;
                vertical-align: top;
                width: ~'calc(50% - 1px)';
                cursor: pointer;
                height: 32px;
                border-right: 1px solid #b7b3b3;

                span {
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                    text-align: center;
                    margin-top: 5px;
                }
            }

            .qbutton:hover {
                background: rgb(186, 186, 186);
            }

            .qbutton:last-child {
                border: none;
                width: 50%;
            }
        }
    }

    div#learning {
        width: ~'calc(100% - 100px)';
        height: ~'calc(100% - 100px)';
        margin: 0px;
        padding: 50px;
        padding-top: 13px;
        position: relative;

        select#driveid-select {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            height: 22px;
            margin-bottom: 15px;
        }

        .road {
            display: inline-block;
            vertical-align: top;
            width: 35%;
            height: ~'calc(100% - 2px)';
            border-top: 2px solid black;
            background: rgb(202, 202, 202);
            text-align: center;
            overflow: hidden;

            .event {
                display: inline-block;
                vertical-align: top;
                width: 0px;
                height: 0px;
                border: 1px solid black;
                border-radius: 180px;
                margin-bottom: 10px;
                background: transparent;
                cursor: pointer;
                position: relative;
                transition: 0.25s;

                span.pit-name {
                    display: inline-block;
                    vertical-align: top;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-weight: normal;
                    font-size: 12px;
                    color: black;
                }

                span.pit-kk {
                    display: inline-block;
                    vertical-align: top;
                    position: absolute;
                    top: 50%;
                    left: ~'calc(100% + 10px)';
                    transform: translateY(-50%);
                    font-weight: bold;
                    font-size: 11px;
                    color: black;
                }

                &.selected {
                    background: #00e6ff !important;
                }
            }

            .event:first-child {
                margin-top: 10px;
            }
        }

        .dialog {
            display: inline-block;
            vertical-align: top;
            width: ~'calc(65% - 100px)';
            height: ~'calc(100% - 100px)';
            background: white;
            padding: 50px;
            text-align: center;

            .dialog-wrapper {
                display: inline-block;
                vertical-align: middle;
                width: 300px;
                height: auto;

                .dialog-info {
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                    height: auto;
                    text-align: left;

                    span.caption {
                        display: inline-block;
                        vertical-align: top;
                        width: 60px;
                        font-size: 14px;
                        color: black;
                        font-weight: bold;
                    }

                    span.data {
                        display: inline-block;
                        vertical-align: top;
                        width: ~'calc(100% - 60px)';
                        font-size: 12px;
                        color: black;
                        font-weight: normal;
                        margin-top: 1px;
                    }
                }

                .dialog-classify-buttons {
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                    height: auto;
                    margin-top: 25px;

                    .button {
                        display: inline-block;
                        vertical-align: top;
                        width: ~'calc(100% - 2px)';
                        height: 32px;
                        cursor: pointer;
                        border: 1px solid grey;
                        text-align: center;
                        background: rgb(224, 224, 224);
                        margin-top: 10px;

                        span.button-text {
                            display: inline-block;
                            vertical-align: middle;
                            width: 100%;
                            color: black;
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }

                    .button:hover {
                        background: rgb(240, 240, 240);
                    }

                    .button:active {
                        background: rgb(132, 255, 132);
                    }
                }
            }
        }
    }

    #plot {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        position: relative;
    }

    #plot-controls {
        position: absolute;
        left: 105px;
        top: 15px;
        width: 120px;
        height: 200px;
        z-index: 2;
        background: #f2f2f2;
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.4);

        div.header {
            width: 100%;
            box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
            height: 24px;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            span {
                margin-top: 1px;
                font-size: 16px;
                display: inline-block;
            }
        }

        .list {
            margin-top: 10px;
            overflow-y: auto;
            overflow-x: hidden;
            margin-bottom: 2px;
            height: calc(~'100% - 36px');

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                background-color: #F5F5F5;
            }
            &::-webkit-scrollbar {
                width: 6px;
                background-color: #F5F5F5;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #000000;
            }

            .elem {
                width: 100%;
                height: 24px;
                cursor: pointer;
                opacity: 0.3;

                &:hover {
                    background: #fafafa;
                    box-shadow: 0px 0px 1px 0.5px rgba(0,0,0,0.5) inset;
                }

                span.drive-id-text {
                    width: calc(~'100% - 10px');
                    margin-left: 10px;
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 14px;
                    color: black;
                }

                &.selected {
                    opacity: 1;
                }
            }
        }
    }
}

.fakeelem {
    display: inline-block;
    vertical-align: middle;
    width: 0%;
    height: 100%;
}